@page "/"

<PageTitle>CRUD BLAZOR</PageTitle>

@* <h1>CRUD con Blazor Server y MSSSQLSEEVERLDB</h1> *@


<h3 class="text-center">
    Actividad Sumativa - Creación de aplicación Contenerizada en Docker
    @* <a href="https://render2web.com" target="_blank"> www.render2web.com</a> *@
</h3>

<SurveyPrompt Title="" />
<br/>
<h3 class="text-center">
    Integrantes:<br /><br />
    Carlos Augusto Sabino <br /> 
    David Bello Bonza
    @* <a href="https://render2web.com" target="_blank"> www.render2web.com</a> *@
</h3>

